---
import Hero from "../components/Hero.astro";
import Employment from "../components/Employment.astro";
import LiveSites from "../components/LiveSites.astro";
import Skills from "../components/Skills.astro";
import GetInTouch from "../components/GetInTouch.astro";
import Layout from "../layouts/Layout.astro";
import background from "../assets/background.svg";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div id="container">
    <img
      id="background"
      src={background.src}
      alt=""
      fetchpriority="high"
    /><Hero /><Employment /><Skills /><LiveSites /><GetInTouch />
  </div>
</Layout>
