---

---

<div>
  <section class="w-full relative">
    <header
      class="header col-start-2 w-full flex flex-col justify-start items-start">
      <h2>Employment</h2>
    </header>
    <div class="content row-start-1">
      <p>
        I have worked on these projects. In some of them, I was the <strong
          >founder</strong
        > or <strong>co-founder</strong> of a startup and in others, I worked as
        an <strong>employee</strong>.
      </p>
    </div>

    <div class="sub-title col-start-2">
      <h3>2021 - CURRENT</h3>
    </div>
    <div class="content row-start-2">
      <p>
        <strong>Fullstack Web Developer</strong>-<!-- -->Marabox.com.au
      </p><p>
        + <!-- -->As a Full-Stack Web Developer, I had the exciting opportunity
        to be a part of the development of Marabox.com.au, an innovative
        Australian startup. Marabox is a pioneering platform that aims to
        simplify the immigration process to Australia by connecting individuals
        with specialized expertise, such as immigration agents and agencies. My
        role involved building the website from scratch, incorporating essential
        features like multi-language support and multi-theme options to enhance
        user experience and accessibility.
      </p><p>
        + <!-- -->For the frontend, I utilized Next.js, a powerful and scalable
        framework, to create a responsive and dynamic user interface. Leveraging
        my proficiency in JavaScript, HTML, and CSS, I crafted an intuitive and
        visually appealing design that engaged users and facilitated seamless
        navigation throughout the platform.
      </p><p>
        + <!-- -->On the backend, I implemented Nodejs , Sanity as a CMS
        (Content Management System), ensuring content organization and
        management were efficient and straightforward. My emphasis on
        scalability and clean code architecture meant that future developers
        could effortlessly continue my work, making the project highly
        sustainable and adaptable to future developments.
      </p><p>
        As the lead developer for Marabox, I was instrumental in bringing the
        company's vision to life. From the initial conceptualization to the
        final implementation, I was responsible for every aspect of the
        development. This included crafting a user-friendly and visually
        appealing interface, ensuring seamless navigation, and implementing
        features that met the evolving needs of our users. I faced the challenge
        of balancing creative design with efficient development, often working
        independently to meet tight deadlines. This experience honed my skills
        in prioritization, problem-solving, and independent decision-making.
      </p><p>
        + <!-- -->Skills: Reactjs, Nextjs, Nodejs
      </p>
    </div>
    <div class="sub-title col-start-2">
      <h3>2020 - 2021</h3>
    </div>
    <div class="content row-start-3">
      <p>
        <strong>Junior frontend dev</strong>-ytjobs.co
      </p><p>
        + <!-- -->As a Junior Frontend Developer at Ytjobs.co, I played a key
        role in building a dynamic and user-friendly platform for
        YouTube-related job opportunities and services. My responsibilities
        included implementing design features with a focus on clean code and
        efficient development practices, ensuring a balance between
        functionality and aesthetics. I leveraged modern web development tools
        like Styled Components and React-query to build a responsive website
        that enhanced user engagement and addressed usability concerns. My
        contributions included identifying and resolving bugs quickly, ensuring
        a smooth user experience. This role allowed me to hone my skills in
        problem-solving and collaborating with the team to deliver a
        high-quality product.
      </p><p>
        + <!-- -->Skills: HTML,CSS,Styled Components,React-query, Reactjs, Typescript
      </p>
    </div>
  </section>
</div>
